.gradle
buildSrc
bin
*.class
*.jar

!la/build/generated-src
la/build/generated-src/*
!la/build/generated-src/st

!framework/build/generated-src
framework/build/generated-src/*
!framework/build/generated-src/st

framework/**/.antlr
la/**/.antlr


